body {
    background: #181818;
    font-family: 'Roboto', sans-serif;
}

#todo_app {
    width: 900px;
    height: 550px;
    background: #2F2F2F;
    margin: 100px auto;
    border: 3px solid #000;
    border-radius: 5px;
}

.titulo {
    font-size: 2rem;
    color: #E05D44;
    text-align: center;
    padding: 20px 0;
}

#field {
    display: flex;
    justify-content: center;
    align-items: center;
}

#field label {
    color: #E05D44;
    font-size: 1.5rem;
}

#field input {
    width: 300px;
    height: 30px;
    font-size: 18px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    margin: 0 10px;
}

#field button {
    width: 30px;
    height: 32px;
    background: #11AD42;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding-bottom: 0;
    cursor: pointer;
}

#escopo {
    margin-top: 20px;    
}

#escopo ul li {
    width: 100%;
    padding: 15px;
    background: #181818;
    margin-bottom: 5px;
    margin: 0 auto;
}

#escopo ul li button {
    width: 30px;
    height: 30px;
    background: #11AD42;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding-bottom: 0;
    cursor: pointer;
}

#escopo ul li {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;    
}

#escopo ul li span {
    font-size: 18px;
    color: #fff;
    margin-right: 10px;
}
